
<mat-card>
  <mat-card-header>
    <mat-card-title>

              {{(collection)?collection.name:'Añadir colección'}}
  
      
      
    </mat-card-title>
  </mat-card-header>
  <mat-tab-group>
    <mat-tab label="Colección">
      <collection-edition-form #collectionForm [collection]="collection"></collection-edition-form>
    </mat-tab>
    <mat-tab label="Secciones">
      <collection-edition-section #sections [collection]="collection"></collection-edition-section>
    </mat-tab>
    <mat-tab label="Cromos"> Content 3 </mat-tab>
  </mat-tab-group>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()" class="float-rigth"><i *ngIf="guardando" class="fas fa-spinner fa-pulse"></i>
        Guardar</button>
        <button mat-raised-button color="primary" (click)="toDashboard()" class="float-rigth"><i *ngIf="guardando" class="fas fa-spinner fa-pulse"></i>
          Volver</button>
  </mat-card-actions>
  
</mat-card>
