<app-clean-navbar></app-clean-navbar>
<div class="container-main" *ngIf="form">


    <div class="row">
        <div class="col-12 col-lg-6">
            <mat-card>
                <form [formGroup]="form" (ngSubmit)="guardar()">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <input matInput readonly placeholder="Mail" formControlName="mail">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Nombre de usuario" formControlName="name">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox formControlName="allowShared">Permito hacer público mis cromos al resto de
                                usuarios.</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-checkbox formControlName="allowLocation">Permito compartir mi ubicación con el resto
                                de
                                usuarios.</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button mat-raised-button color="primary" class="float-right">Guardar</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        <div class="col-12 col-lg-6">
            <mat-card>
                <div class="row">
                    <div class="card">

                        <div class="card-body">
                            <div class="card-title row">Selecciona una imagen como avatar:</div>
                            <div class="row">
                                <div class="upload-btn-wrapper">
                                    <button class="btn">Seleccione una imagen</button>
                                    <input type="file" name="myfile" (change)="upload($event)" accept=".png,.jpg" />
                                </div>


                                <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg" /> -->
                                <br><br>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="card-title row mt-2">O elige uno predefinido:</div>

                            <div class="avatares">
                                <div class="row mt-2">
                                    <span *ngFor="let index of boysAvatars">
                                        <img class="rounded-circle pointer" [src]="getImg(index, true)" (click)="updateAvatar(getImg(index, true))">
                                    </span>
                                </div>
                                <div class="row mt-4">
                                    <span *ngFor="let index of girlsAvatars">
                                        <img class="rounded-circle pointer" [src]="getImg(index, false)" (click)="updateAvatar(getImg(index, false))">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>





</div>