/* You can add global styles to this file, and also import other style files */
//"node_modules/@angular/material/prebuilt-themes/indigo-pink.css"
.pointer{
    cursor: pointer;
}
html{
    
    height: 100%;
    font-size: 14px;
}
body{
    height: 100%;
}
.container-main{
    margin-top: 6em;
    margin-left: 10%;
    margin-right: 10%;
}